.breadcrumb
  margin 0 0 40px
#concierge .breadcrumb
  margin 0
.content
  padding 0 20px 0
  position relative
  +mq-pc-l()
    padding 123px 0 0
.content__inner
  display: flex
  flex-wrap: wrap
  margin: 30px auto 150px
  overflow hidden
  max-width w-pc
  width: 100%
  +mq-pc-l()
    flex-wrap: nowrap
    justify-content: space-between
    margin 60px auto 100px
.main__contents
  width: 100%
  +mq-pc-l()
    width 690px
  .side__list__img
    +mq()
      height 120px
      width: 60%
      max-width: 190px
  .side__list__txt
    +mq()
      left: auto
.main__contents--single
  margin 0 auto
  width 90%
  +mq-pc-l()
    width 100%
.side__contents
  width: 100%
  margin 60px auto 0
  +mq-pc-l()
    margin: 0
    width 290px
.footer__pageTop
  display block
  text-align right
  max-width w-pc
  width 95%
  +mq-pc-l()
    width: 100%

