/*変数定義*/

//width
w-pc = 1024px
w-tab = 768px
w-sp = 640px
w-sp-s = 480px
w-sp-xs = 320px

//color
c-txt = #333
c-key = #339cd1
c-key-dark = #1f81b2
c-key-light = #c5e3f2
c-accent = #e6b200
c-accent-light = #fff9e5
c-link = #3375d1
c-link-dark = #275eaa
c-red = #bf0a55
c-red-light = #e9d1db
c-brown = #50423a
c-orange = #ff8a00
c-link-blue = #349cd2

c-xx-light = #f7f7f7
c-x-light = #eee
c-light = #ddd
c-medium = #999
c-dark = #888
c-x-dark = #333

c-double-circle = #ef8193
c-circle = #f4af4e
c-triangle = #86bbe8
c-hyphen = #bfbfbf

c-white = #fff
c-compare-01 = #e5e5e5
c-compare-02 = #666
c-compare-03 = #f7f7f7
c-compare-04 = #dfeff7
c-compare-05 = #e4f5fd
c-compare-06 = #ccc
c-compare-07 = #ededed
c-compare-08 = #fafafa
c-compare-09 = #dedede
c-compare-10 = #f3c81f
c-compare-11 = #c4d8e1
