.c-icon
  fill #339cd1
  width 23px
  height 23px
.is-active .c-icon
  fill #fff
#ico-pc-mv-ttl
  width 650px
  height 105px
  margin 0 auto
  fill #fff
  position relative
#ico-sp-mv-ttl
  margin 0 auto
  fill #fff
  position relative
#ico-pcttl-one
  width 600px
  height 105px
  fill #fff
#ico-spttl-one
  width 100%
  fill #fff
  margin 0 auto
#ico-pcttl-two
  width 100%
  height 105px
  fill #fff
#ico-spttl-two
  width 100%
  fill #fff
  margin 0 auto
#ico-point1,
#ico-point2,
#ico-point3
  width 72px
  height 72px
  +below(w-tab)
    position absolute
    top -10px
    left -10px
    width 80px
    height 80px
