.step
  list-style-type none
  display flex
  width 100%
  padding 0
  margin 0
  overflow hidden
  +below(w-pc)
    flex-direction column
.step__wrap
  max-width 800px
  margin 0 auto
.step__inner
  &--qu
    display flex
    justify-content flex-end
    align-items flex-start
    margin-bottom 20px
    padding-left 45px
    +below(w-pc)
      padding-left 0
      align-items flex-end
  &--ans
    display flex
    justify-content flex-start
    align-items flex-start
    margin-bottom 20px
    padding-right 45px
    +below(w-pc)
      padding-right 0
      align-items flex-end
.step__qu
  font-size 1.6rem
  color #fff
  background #339cd1
  padding 1.5em 2em 1.5em 2em
  line-height 1.5
  text-align left
  border-radius 10px 10px 10px 10px
  margin-right 10px
  position relative
  &:before
    content ""
    position absolute
    display block
    border 7px solid transparent
    border-left 7px solid #339cd1
    top 50%
    left 100%
    transform translateY(-50%)
    +below(w-pc)
      display none
  +below(w-pc)
    width 100%
    padding 1em 1em 1em 1em
    border-radius 20px 20px 0px 20px
  &--orange
    color #ffffff
    background #ff8a00
    font-size 1.6rem
    padding 1.5em 2em 1.5em 2em
    line-height 1.5
    text-align left
    border-radius 10px 10px 10px 10px
    margin-right 10px
    position relative
    &:before
      content ""
      position absolute
      display block
      border 7px solid transparent
      border-left 7px solid #ff8a00
      top 50%
      left 100%
      transform translateY(-50%)
      +below(w-pc)
        display none
    +below(w-pc)
      width 100%
      padding 1em 1em 1em 1em
      border-radius 20px 20px 0px 20px
.step__ans
  font-size 1.6rem
  color #333
  background #fff
  padding 1.5em 2em 1.5em 2em
  line-height 1.5
  text-align left
  border 1px solid #339cd1
  border-radius 10px 10px 10px 10px
  margin-left 10px
  position relative
  box-sizing border-box
  &:after
    content ""
    position absolute
    display block
    border 7px solid transparent
    border-right 7px solid #fff
    top 50%
    left -13px
    transform translateY(-50%)
    +below(w-pc)
      display none
  &:before
    content ""
    position absolute
    display block
    border 7px solid transparent
    border-right 7px solid #339cd1
    top 50%
    left -14px
    transform translateY(-50%)
    +below(w-pc)
      display none
  +below(w-pc)
    width 100%
    padding 1em 1em 1em 1em
    border-radius 20px 20px 20px 0px
// .step li
//   font-size 1.6rem
//   color 333333
//   position relative
//   background #fff
//   padding 1em 0.5em 1em 2em
//   height 90px
//   text-align left
//   margin-bottom 20px
//   display flex
//   align-items center
//   line-height 1.5
// .step li.is-first
//   width 337px
//   padding-left 15px
//   margin-right 18px
//   background-color #339cd1
//   color #fff
//   font-weight bold
//   border-radius 10px 0px 0px 10px
//   +below(w-pc)
//     width 70%
//     height auto
//     margin 0
//     padding 15px
//     border-radius 10px 10px 0 10px
//     border-bottom 1px solid #ededed
//   // +below(w-sp)
//   &:before
//     background-color #fff
// .step li.is-first:after
//   // position absolute
//   // display inline-block
//   // content ''
//   // z-index: -1;
//   // top 0
//   // right -30px
//   // border-top 45px solid transparent
//   // border-right 15px solid transparent
//   // border-bottom 45px solid transparent
//   // border-left 15px solid #fff
//   // background-color transparent
//   // border-left 15px solid #fff
// .step li.is-second
//   color #333333
//   position relative
//   background #fff
//   padding 1em 35px 1em 1.2em
//   border-radius 0 10px 10px 0
//   height 90px
//   text-align left
//   margin-bottom 20px
//   width calc(100% - 337px)
//   display flex
//   align-items center
//   line-height 1.5
//   +below(w-pc)
//     width 100%
//     height auto
//     padding 15px
//     border-radius 0 0 10px 10px
//   &:before
//     position absolute
//     display inline-block
//     content ''
//     // z-index -1
//     top 0
//     left -15px
//     border-top 45px solid #fff
//     border-right 15px solid #fff
//     border-bottom 45px solid #fff
//     border-left 15px solid transparent
//     background-color transparent
//     +below(w-pc)
//       display none
// .step__qu__text
//   margin-left 15px
//   +below(w-pc)
//     font-size 1.5rem
// .step__ans__text
  margin-left 15px
  // color #339cd1
  +below(w-pc)
    font-size 1.5rem
.step__img__pc
  display block
  // min-width 40px
  width 90px
  height 90px
  +below(w-pc)
    display none
.step__img__sp
  display none
  +below(w-pc)
    display block
    width 60px
    height 60px
