.event__kv
  background url(../img/event1809/bg-kv-pc.png) center top no-repeat
  color c-brown
  margin 0 auto 80px
  padding 85px 40px
  text-align center
.event__kv__ttl
  position relative
  margin 0 auto 30px
.event__kv__ttl__badge
  position absolute
  top -65px
  right 20px
.event__kv__ttl--sub
  margin 0 auto 40px
.event__kv__txt
  font-size 1.6rem
  line-height 1.6
  margin 0 auto 10px
.event__btn--kv
  width 480px
.event__section
  color c-brown
  margin 0 auto 80px
  text-align center
.event__section__ttl
  color c-txt
  display inline-block
  font-size 3rem
  font-weight bold
  margin 0 auto 40px
  &:after
    border-radius 4px
    content ''
    background c-key
    display block
    height 8px
.event__section__ttl#form-event
  margin 0 auto
.event__section__ttl__inner
  padding 0 20px 10px
.event__section__box--border
  border-top 1px dashed c-light
  border-bottom 1px dashed c-light
  padding 30px 0
.event__section__box--speaker
  margin 54px 0
.event__section__box--speaker__inner
  background url(../img/event1809/bg_01.png) left top repeat
  border-radius 10px
  margin 14px 0 14px 130px
  padding 24px 30px 24px 170px
  position relative
  text-align left
.event__section__box--speaker__img
  position absolute
  left -130px
  top -14px
.event__section__box--speaker__ttl
  font-size 2.4rem
  font-weight bold
  margin 0 0 10px
.event__section__box--speaker__description
  font-size 1.4rem
  line-height 1.6
.event__section__box--contact
  display flex
  justify-content space-between
  padding 30px 40px
.event__btn--contact
  height 96px
  padding 36px 10px
  width 460px
.event__section__box--sponsor
  display flex
  flex-wrap wrap
  padding 0 40px 0 28px
  justify-content space-between
  margin 0 0 18px
  &:last-child
    margin 0
.event__section__box--sponsor__img
  width 284px
  height auto
.event__section__box--sponsor__txtArea
  width 660px
  text-align left
  padding 22px 0
.event__section__box--sponsor__txtArea__ttl
  font-size 1.8rem
  font-weight bold
  line-height 1.8
.event__section__box--sponsor__txtArea__ttl__kana
  font-size 1.2rem
  line-height 1.8
.event__section__box--sponsor__txtArea__subttl
  font-size 1.2rem
  line-height 1.8
.event__section__box--sponsor__txtArea__txt
  color c-medium
  font-size 1.2rem
  line-height 1.8
.main__contents__eventForm__ttl
  text-align center
.event__end
  margin 30px auto
.event__end__txt
  color #bf0a55
  font-size 1em
  margin 20px auto
  text-align center

+below(w-tab)
  .main__contents--event
    width 94%
  .event__kv
    background url(../img/event1809/bg_01.png) left top repeat
    margin 0 auto 60px
    padding 20px
    text-align left
  .event__kv__inner
    background white
    border-radius 10px
    padding 40px 20px
  .event__kv__ttl__badge
    height 80px
    width auto
    top -50px
    right -8px
  .event__kv__ttl--sub
    margin 0 auto 30px
  .event__kv__txt
    font-size 1.4rem
    margin 0 auto 30px
  .event__btn--kv
    width 100%
  .event__section
    margin 0 auto 60px
  .event__section__ttl
    font-size 2.4rem
  .event__section__box--border
    padding 30px 20px
  .event__section__box--speaker
    margin 120px 0 30px
  .event__section__box--speaker__inner
    margin 60px 0 0
    padding 60px 20px 20px
  .event__section__box--speaker__img
    width 130px
    height auto
    top -90px
    left 50%
    transform translate(-50%,0)
  .event__section__box--speaker__ttl
    font-size 1.6rem
    text-align center
  .event__section__box--speaker__description
    font-size 1.2rem
  .event__section__box--contact
    display flex
    flex-wrap wrap
    padding 30px 20px
  .event__section__box--contact__column
    width 100%
  .event__section__box--contact__tel
    text-align left
  .event__btn--tel
    margin 0 0 24px
    width 100%
  .event__btn--tel__img
    max-height 48px
    vertical-align middle
  .event__section__box--contact__telTxt
    display inline-block
    line-height 1.4
    margin 0 1em 5px 0
    &:last-child
      margin 0 1em 30px 0
  .event__btn--contact
    height auto
    padding 20px 10px
    width 100%
  .event__section--sponsor
    .event__section__box--border
      padding 20px 10px
  .event__section__box--sponsor
    padding 0
    flex-wrap wrap
  .event__section__box--sponsor__img
    width 100%
  .event__section__box--sponsor__txtArea
    width 100%
    text-align left
    padding 0 5px
  .event__section__box--sponsor__txtArea__ttl
    font-size 1.6rem
    line-height 1
    margin 10px 0 3px
  .event__section__box--sponsor__txtArea__ttl__kana
    display inline-block
  .event__section__box--sponsor__txtArea__subttl
    margin 0 0 3px
  .event__section__box--flow
    padding 0 20px
  .main__contents--event
    .list--table__ttl
    dt.list--table__ttl
      padding 10px 20px 1px
    .list--table__detail
    dd.list--table__detail
      padding 0 20px 20px


+below(w-sp-xs)
  .event__kv__ttl__badge
    height 70px
    width auto
  .event__btn--kv
    font-size 1.3rem
