.glossary__toc
  background c-xx-light
  border 1px solid c-light
  margin 40px 0
  padding 30px 30px 0
.glossary__toc__ttl
  border-bottom 1px solid c-medium
  font-weight bold
  padding 0 0 10px
  margin 0 0 40px
.glossary__wordList
  width 100%
.glossary__wordList__item
  display inline-block
  font-size 1.6rem
  margin 0 0 40px
  width 49%
  a
    &:hover
      span
        text-decoration underline
  .c-ico--arrow--r
    &:before
      color c-light
      font-size 1.4rem
      margin 0 0.25em 0 0
.glossary__wordList__ttl
  border-top 4px solid c-light
  border-bottom 4px solid c-light
  font-size 2.1rem
  font-weight bold
  padding 20px 0
  margin 0 0 40px
.glossary__meta
  margin 0 0 10px
.glossary__backtoList
  font-size 1.6rem
  margin 60px 0 40px
  a
    &:hover
      span
        text-decoration underline
  .c-ico--arrow--l
    &:before
      color c-light
      font-size 1.3rem
      margin 0 0.25em 0 0
