.main__contents__article--single
  table.table--list
    border-top 1px solid c-light
    border-right none
    border-left none
    border-bottom none
    margin 0 auto 40px
    th
    td
      border-bottom 1px solid c-light
      border-right none
      border-left none
      border-top none
      padding 30px
.table--list__ttl
  font-size 1.6rem
  font-weight bold
.table--list__detail
  background white
  font-size 1.6rem
.p-offer_message
  &--primary
    border-radius 5px
    padding 19px 32px 18px 19px
    background #d0ecfa
    border 1px solid #3399cc
    margin-bottom 40px
    +below(w-tab)
      padding 15px 29px 16.5px 15px
  &--secondary
    border-radius 5px
    padding 19px 32px 18px 19px
    background #faf1ce
    border 1px solid #f3c81f
    margin-bottom 40px
    +below(w-tab)
      padding 15px 29px 16.5px 15px
p.p-offer_message__txt
  color #333333
  font-size 1.5rem
  line-height: 1.76
  margin 0
  +below(w-tab)
    font-size 1.6rem


+below(w-tab)
  .main__contents__article--single
    table.table--list
      border-top none
      th
        border-bottom none
      td
        border-bottom none
        text-align center
  .table--list__ttl
  .table--list__detail
    display block
